# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Docker
*.override.yml

# OS
.DS_Store
.idea/
.vscode/
